trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: echo Fluxcd!
  displayName: 'Run a one-line script'


# Install Kubectl

- task: KubectlInstaller@0
  inputs:
    kubectlVersion: 'latest'

# Install Helmv3

- task: HelmInstaller@0
  inputs:
    helmVersion: 'latest'
    installKubectl: true

- task: AzureCLI@2
  inputs:
    azureSubscription: 'azure-resource-manager-service-connection'
    scriptType: 'ps'
    scriptLocation: 'scriptPath'
    scriptPath: '$(Build.SourcesDirectory)/scripts'

- task: Kubernetes@1
  inputs:
    connectionType: 'Azure Resource Manager'
    azureSubscriptionEndpoint: 'azure-resource-manager-service-connection'
    azureResourceGroup: 'kubernetes_dev'
    kubernetesCluster: 'k8stest_dev'
    command: 'apply'
    useConfigurationFile: true
    configurationType: 'inline'
    inline: |
      apiVersion: v1
      kind: Namespace
      metadata: 
         name: fluxcd
    secretType: 'dockerRegistry'
    containerRegistryType: 'Azure Container Registry'

- task: HelmDeploy@0
  inputs:
    connectionType: 'None'
    namespace: 'kube-system'
    command: 'upgrade'
    chartType: 'Name'
    chartName: 'stable/nginx-ingress'
    releaseName: 'nginx'
    arguments: '--timeout 20m0s'
#Deploy Helm operator
- task: HelmDeploy@0
  name: HelmOp
  inputs:
    connectionType: 'None'
    namespace: 'kube-system'
    command: 'upgrade'
    chartType: 'Name'
    chartName: 'fluxcd/helm-operator'
    releaseName: 'helm-operator'
    overrideValues: 'extraEnvs[0].name=HELM_VERSION,extraEnvs[0].value=v3,image.repository=docker.io/fluxcd/helm-operator-prerelease,image.tag=helm-v3-dev-53b6a21d'
    arguments: '--namespace fluxcd'

- task: HelmDeploy@0
  inputs:
    connectionType: 'None'
    namespace: 'fluxcd'
    command: 'upgrade'
    chartType: 'Name'
    chartName: 'fluxcd/flux'
    releaseName: 'flux'
    overrideValues: 'git.url=git@github.com:$(gitURL),git.pollInterval=1m'

